version: "3.9"
services:
  # Servicio 1: Nuestra aplicación web
  web:
    image: ivangarcia96/mi-app:latest
    build: .
    ports:
      - "8000:5000" # Mapeamos el puerto 8000 de tu PC al 5000 del contenedor
    depends_on:
      - redis-db
    deploy:
      resources:
        limits:
          cpus: '0.50'    # Máximo 50% de un núcleo de CPU
          memory: 128M    # Máximo 128 Megabytes de RAM
        reservations:
          memory: 64M     # Garantizar al menos 64MB

  # Servicio 2: La base de datos
  redis-db:
    image: "redis:alpine"
    # No hace falta exponer puertos, Docker crea una red interna entre ellos


  watchtower:
    image: containrrr/watchtower:latest
    container_name: vigilante_automatico
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json
    environment:
      - DOCKER_API_VERSION=1.52
    # CONFIGURACIÓN DEL VIGILANTE:
    # --interval 30: Revisa si hay cambios cada 30 segundos (para pruebas rápidas)
    # --cleanup: Borra las imágenes viejas para no llenar el disco duro
    command: --interval 30 --cleanup
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    ports:
      - '3000:3000' # Puerto de acceso web
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin 
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
  loki:
    image: grafana/loki:latest
    container_name: loki
    restart: unless-stopped
    ports:
      - "3100:3100"
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/local-config.yaml
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    restart: unless-stopped
    volumes:
      - ./loki/promtail-config.yaml:/etc/promtail/config.yml
      - /var/lib/docker/containers:/var/lib/docker/containers:ro  
      - /var/log:/var/log:ro
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki
volumes:
  portainer_data:
  prometheus_data: 
  grafana_data:    
    