name: Build docker image on push

on:
    push:
        branches: main
jobs:
    push_to_registry:
        name: Upload image to docker
        runs-on: ubuntu-latest
        steps:
            - name: Check out repo
              uses: actions/checkout@v4
            
            - name: log in to docker hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            #This utility helps with the good practices recommended by docker
            - name: Lint Dockerfile
              uses: hadolint/hadolint-action@v3.1.0
              with:
                dockerfile: Dockerfile
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push
              uses: docker/build-push-action@v5
              with:
               context: .
               push: true
          # ESTA ES LA CLAVE:
               platforms: linux/amd64
               tags: | #the line allows us to use a different tag, it is autogenerated by github, better than alway use latets
                  ${{ secrets.DOCKER_USERNAME }}/mi-app:latest 
                  ${{ secrets.DOCKER_USERNAME }}/mi-app:${{ github.sha }}